<h2><%= t('views.devise.edit_account') %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email, t('views.devise.e-mail') %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password, t('views.devise.password') %> <i>(<%= t('views.devise.leave_blank') %>)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= "#{@minimum_password_length}#{t('views.devise.min_pw_size')}" %></em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, t('views.devise.pw_confirmation') %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password, t('views.devise.current_pw') %><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit t('views.devise.update') %>
  </div>
<% end %>

<h3><%= t('views.devise.cancel_account') %></h3>

<div><%= button_to t('views.devise.cancel_account'), registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>

<%= link_to t('views.devise.back'), '/books' %>
