<p style="color: green"><%= notice %></p>

<%= render @book_comment %>

<div>
  <% if current_user == @book_comment.user %>
    <%= link_to "Edit this book comment", edit_book_comment_path(@book_comment) %> |
  <% end %>

  <%= link_to "Back to book comments", book_comments_path %>
  <%= button_to "Destroy this book comment", @book_comment, method: :delete %>
</div>
