<p style="color: green"><%= notice %></p>

<%= render @book_comment %>

<div>
  <% if current_user == @book_comment.user %>
    <%= link_to "Edit this book comment", edit_book_comment_path(@book_comment) %> |
  <% end %>
  <%= link_to "Back", book_path(@book_comment.book) %>
  <% if current_user == @book_comment.user %>
    <%= button_to "Destroy this book comment", @book_comment, method: :delete %>
  <% end %>
</div>
