<div id="<%= dom_id report_comment %>">
  <p>
    <strong><%= User.human_attribute_name(:name) %>:</strong>
    <%= report_comment.user.name %>
  </p>

  <p>
    <strong><%= ReportComment.human_attribute_name(:content) %></strong>
    <%= report_comment.content %>
  </p>

</div>
