<p style="color: green"><%= notice %></p>

<%= render @report_comment %>

<div>
  <% if current_user == @report_comment.user %>
    <%= link_to "Edit this report comment", edit_report_comment_path(@report_comment) %> |
  <% end %>
  <%= link_to "Back", report_path(@report_comment.report) %>
  <% if current_user == @report_comment.user %>
    <%= button_to "Destroy this report comment", @report_comment, method: :delete %>
  <% end %>
</div>
