<p style="color: green"><%= notice %></p>

<h1><%= t('header.index.title') %></h1>

<div id="books">
  <% @books.each do |book| %>
    <%= render book %>
    <p>
      <%= link_to t('books.show'), book %>
    </p>
  <% end %>
</div>

<%= link_to t('books.new'), new_book_path %>
