<div id="<%= dom_id report %>" class="report-content">
  <div class="report-content-header">
    <div class="user_name">
      <%= link_to report.user.name, report.user %>
    </div>
    <h1><%= report.title %></h1>
    <div class="report-content-meta">
        <time><%= report.created_at.strftime(t('time.formats.long')) %></time>
    </div>
  </div>
  <div class="report-content-main">
    <p><%= safe_join(report.content.split("\n"),tag(:br)) %></p>
  </div>
</div>
