<p style="color: green"><%= notice %></p>

<h1><%= t('views.common.title_index', name: i18n_pluralize(Report.model_name.human)) %></h1>

<div id="reports">
  <% @reports.each do |report| %>
  <header class="reports_header">
    <div class="report_title"><%= link_to report.title, report %></div>
  </header>

  <div>
    <%= link_to report.user.name, report.user %>
  </div>
  <div>
    <time><%= report.created_at %></time>
  </div>
  <% end %>
</div>

<%= link_to t('views.common.new', name: Report.model_name.human.downcase), new_report_path %>
