<p style="color: green"><%= notice %></p>

<h1>Reports</h1>

<div id="reports">
  <% @reports.each do |report| %>
  <header class="reports_header">
    <div class="report_title"><%= link_to report.title, report %></div>
  </header>

  <div>
    <%= link_to report.user.name, report.user %>
  </div>
  <div>
    <time><%= report.created_at %></time>
  </div>
    <p>
      <%= link_to "Show this report", report %>
    </p>
  <% end %>
</div>

<%= link_to "New report", new_report_path %>
