<p style="color: green"><%= notice %></p>

<%= render @report %>

<div>
  <% if current_user == @report.user %>
    <%= link_to "Edit this report", edit_report_path(@report) %> |
  <% end %>
  <%= link_to "Back to reports", reports_path %>
  <% if current_user == @report.user %>
    <%= button_to "Destroy this report", @report, method: :delete %>
  <% end %>
</div>

<%= link_to "New report comment", new_report_comment_path(report_id:@report.id) %>

<div id="report_comments">
  <% @report.report_comment.each do |report_comment| %>
    <%= render report_comment %>
    <p>
      <%= link_to "Show this report comment", report_comment %>
    </p>
  <% end %>
</div>
