<%= render @report %>

<div>
  <% if current_user == @report.user %>
      <%= link_to t('views.common.edit', name: i18n_pluralize(Report.model_name.human.downcase)), edit_report_path %>|
  <% end %>
  <%= link_to t('views.common.back', name: i18n_pluralize(Report.model_name.human.downcase)), reports_path %>
  <% if current_user == @report.user %>
    <%= button_to t('views.common.destroy', name: i18n_pluralize(Report.model_name.human.downcase)), @report, method: :delete %>
  <% end %>
</div>

<div id="report_comments">
  <h2><%= BookComment.model_name.human %></h2>
  <%= link_to t('views.common.new', name: ReportComment.model_name.human.downcase), new_report_comment_path(report_id:@report.id) %>
  <% @report.report_comment.each do |report_comment| %>
    <%= render report_comment %>
  <% end %>
</div>
